<div class="container_big-card">
  <div class="big-card_photo">
    <img
      src="https://wallpapercat.com/w/full/3/3/d/319908-1920x1080-desktop-1080p-iron-man-background.jpg"
      alt=""
      height="200px"
    />
  </div>

  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit
        enim sed nunc interdum imperdiet. Vestibulum pharetra aliquam risus,
        quis fermentum velit sollicitudin ut. Praesent aliquet massa eros, a
        fermentum nulla semper vel.
      </a>
    </p>
  </div>
</div>
