<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      id="1"
      photoCover="https://wallpapercat.com/w/full/3/3/d/319908-1920x1080-desktop-1080p-iron-man-background.jpg"
      cardTitle="NOVO HOMEM DE FERRO EM 3D"
      cardDescription="Marvel Anuncia novo homem de ferro"
    >
    </app-big-card>
  </div>

  <div class="articles_others">
    @for (card of smallCardData; track $index) {
      <app-small-card
        id="{{ card.id }}"
        photoCover="{{ card.photoCover }}"
        cardTitle="{{ card.title }}"
      >
      </app-small-card>
    }
  </div>
</div>
