<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      id="1"
      photoCover="https://wallpapercat.com/w/full/3/3/d/319908-1920x1080-desktop-1080p-iron-man-background.jpg"
      cardTitle="NOVO HOMEM DE FERRO EM 3D"
      cardDescription="Marvel Anuncia novo homem de ferro">
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      id="2"
      photoCover="https://c4.wallpaperflare.com/wallpaper/596/549/187/avengers-hd-widescreen-wallpaper-preview.jpg"
      cardTitle="Nova série anunciada no Disney +">
    </app-small-card>

    <app-small-card
      id="3"
      photoCover="https://rollingstone.com.br/media/uploads/pantera-negra-wakanda-forever-foto-divulgacao-marvel-studios.jpg"
      cardTitle="Novo filme do pantera negra lançado em breve">
    </app-small-card>

    <app-small-card
      id="4"
      photoCover="https://c4.wallpaperflare.com/wallpaper/156/283/658/x-men-x-men-days-of-future-past-wolverine-magneto-wallpaper-preview.jpg"
      cardTitle="Novo filme dos X-men está em pós produção, afirma diretor">
    </app-small-card>
  </div>
</div>
