<div class="container_menu-bar">
  <ul>
    <li>
      <a href="https://www.linkedin.com.br">
        Linkedin
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>

    <li>
      <span>•</span>
    </li>

    <li>
      <a href="https://www.github.com">
        Github
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>

    <li><span>•</span></li>

    <li>
      <a href="https://www.youtube.com.br">
        Youtube
        <fa-icon [icon]="faYoutube"></fa-icon>
      </a>
    </li>
  </ul>
</div>
